.background-dark-blue{
    background-color: #00313A;
}

.btn-outline-primary {
  color: #0395B0;
  border-color: #0395B0;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #0395B0;
  border-color: #0395B0;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: #0395B0;
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #0395B0;
  border-color: #0395B0;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: #0395B0;
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #0395B0;
  background-color: transparent;
}





.btn-primary {
  color: #fff;
  background-color: #0395B0;
  border-color: #0395B0;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0395B0;
  border-color: #0395B0;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #0395B0;
  border-color: #0395B0;
  box-shadow: #0395B0;
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0395B0;
  border-color: #0395B0;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: #0395B0;
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: #0395B0;
  border-color: #0395B0;
}